<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-download"
        version="1.0.0">
    
    <name>Download Plugin</name>
    <description>Cordova Download Plugin with pause, resume, and cancel features</description>
    <license>Apache 2.0</license>
    <keywords>cordova,download,plugin</keywords>
    
    <js-module src="www/downloadplugin.js" name="DownloadPlugin">
        <clobbers target="DownloadPlugin" />
    </js-module>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DownloadPlugin">
                <param name="android-package" value="com.example.downloadplugin.DownloadPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        
        <source-file src="src/android/com/downloadplugin/DownloadPlugin.java" target-dir="src/android/com/downloadplugin" />
    </platform>
</plugin>